html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "inter", Verdana, sans-serif;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 50px;
}

h2 {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.button_uncolored {
  padding: 14px 27px 14px 27px;
  border: 2px solid #E06733;
  border-radius: 10px;
  font-family: "Inter";
  background: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  transition: all 0.3s;
}

.button_uncolored:hover {
  border: 2px solid #E06733;
  background: #E06733;
  color: #ffffff;
}

.prices__button {
  border: 2px solid #E06733;
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #E06733;
  padding: 12px 27px 12px 33px;
  background-color: white;
  border-radius: 5px;
}

.service__button {
  border: 1px solid #E06733;
  font-family: "Inika";
  padding: 12px 40px 12px 40px;
  background-color: #EDF2EC;
  color: #E06733;
  border-radius: 5px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  *-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  /** -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

section, main, footer, header, article {
  display: block;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1222px;
  margin: auto;
}

.header {
  padding: 42px 0 42px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  font-family: "Inika";
  align-items: center;
}

.navigation {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 50px;
  margin: 0px;
}

.navigation__link {
  list-style: none;
  padding: 0 0 0 46px;
  cursor: pointer;
}

.navigation__link a:hover {
  color: #E06733;
}

.navigation__link a:visited {
  color: #E06733;
}

a:link {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: black;
  text-decoration: none;
}

.welcome__wrapper {
  display: flex;
  padding: 62px 0;
}

.leaf-large {
  width: 50%;
}

.welcome__content {
  width: 50%;
}

.colortext {
  color: #499A18;
}

h1 {
  color: #717171;
}

.welcome__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  /* or 175% */
  color: #636060;
}

.welcome__content h1 {
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}

.wrapper__about {
  display: flex;
  padding: 62px 0;
  max-width: 1222px;
  margin: auto;
  padding: 93px 0 94px 0;
}

.about__image {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.about__content {
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 68px 0 0 0;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.about__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  color: #636060;
}

.colortext_about {
  color: #E06733;
}

.layout-3-column {
  display: flex;
  align-items: stretch;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.service__block {
  width: 27%;
  border-color: #E3E1D5;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  padding-bottom: 31px;
  margin-bottom: 55px;
}

.service__filter {
  display: flex;
}

.service__image {
  border-radius: 20px;
}

.service__headline {
  width: 33%;
}

h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  /* or 100% */
  color: #E06733;
}

.service__img {
  border-radius: 20px 20px 0 0;
}

.service__description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

.layout-2-column {
  display: flex;
  padding-bottom: 115px;
}

.prices__plans {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.prices__contact-us {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  text-align: right;
}

.price__plan {
  border-color: #E3E1D5;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  padding-right: 41px;
  padding-left: 41px;
  max-width: 332px;
}

.price__name {
  display: flex;
  width: 250px;
  height: 50px;
  background-color: #EDF2EC;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  align-items: center;
  justify-content: space-around;
}

.prices__button {
  margin: 0 0 0 auto;
}

.prices_img {
  width: 152px;
  margin: 0 0 0 auto;
}

.layout-4-column {
  display: flex;
  padding-top: 53px;
}

.contactos__image {
  width: 33%;
}

.contactos__text {
  width: 33%;
  text-align: center;
}

.contacts__form {
  display: flex;
  width: 450px;
  height: 50px;
  background-color: #EDF2EC;
  margin-top: 95px;
  margin-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height, or 200% */
  letter-spacing: 0.05em;
  color: #717171;
  align-items: center;
  justify-content: space-between;
  background-color: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 20px;
  padding-left: 20px;
}

.service__filter {
  width: 100%;
}

.service__buttons {
  width: 50%;
  padding-left: 40px;
}

.service__button {
  margin-right: 38px;
  margin-top: 69px;
}

.wrapper-footer {
  max-width: 1222px;
  margin: auto;
  padding-top: 49px;
  padding-bottom: 49px;
}

.footer__social {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.footer__img {
  padding-right: 20px;
}

.header, .welcome, .service, .contacts {
  background-color: #EDF2EC;
  max-width: 1440px;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
