$color-primary: #E06733;
$color-secondary: #499A18;
$color-background: #EDF2EC;
$color-links: #010201;
$color-text: #636060;
$color-border: #E3E1D5;
$color-textblock: #717171;
$color-inputshadow: #AEA1A1;
$color-light: #ffffff;

$content-width: 1222px;
$tablet-width: 768px;
$mobile-with: 380px;
