.layout-3-column {
    display: flex;
    align-items: stretch ;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.service__block {
    width: 27%;
    border-color: #E3E1D5;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding-bottom: 31px;
    margin-bottom: 55px


}

.service__filter {
    display: flex;
}

.service__image {
    border-radius: 20px;
}

.service__headline {
    width: 33%;
}

h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    color: #E06733;
}

.service__img {
    border-radius: 20px 20px 0 0 ;
}

.service__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}